.floater{
  position: fixed;
  animation-name: float;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  background-color: yellow;
  border-radius: 20px;
  border: 3px solid black;
  padding: 5px;
  display: inline-block;
  transform: rotate(30deg);
}

.fl-left{
  left: 5%;
}

.fl-right{
  right: 5%;
}

@keyframes float {
    0% {
      top: -5%;

    }
    25%{
      transform: rotate(-90deg);
    }
    50% {
      top: 110%;
      transform: rotate(-90deg);
    }
}
